#contact-wrapper {
	.contact-row {
		margin-top: 30px;
	}
	select, input {
		height: 52px;
        background: #FFFFFF;
        border: 2px solid #F4F4F4;
        border-radius: 10px;
	}
    textarea{
        background: #FFFFFF;
        border: 2px solid #F4F4F4;
        border-radius: 10px;
        height: 170px;
    }
    .form-group{
        margin-bottom: 30px;
    }
    .newsletter-box{
        margin-top: 100px;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("../img/newsletter-contact-bn.png") no-repeat center;
        background-size: cover;
        .title{
            font-size: 32px;
            font-weight: 600;
            padding-top: 9px;
            color: #fff;
            margin-right: 45px;
        }
        .block_newsletter{
            .content{
                display: flex;
                justify-content: flex-end;
                input{
                    height: 50px;
                    border-radius: 50px;
                    width: 495px;
                    background-color: transparent;
                    border: 2px solid #fff;
                    color: #fff;
                    &::placeholder{
                        color: #fff;
                    }
                }
                button{
                    border-color: #fff;
                    margin-left: 25px;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }
}
#contact-info {
    h3 {
        font-size: 38px;
		margin-bottom: 9px;
        padding-right: 20px;
        line-height: 50px;
	}
    .title{
        border-bottom: 1px solid #efefef;
        padding-bottom: 24px;
        margin-bottom: 41px;
        h3{
            text-transform: initial;
        }
    }
	.section {
		margin-bottom: 10px;
	}
    .phone{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 23px;
    }
    .info-address{
        margin-bottom: 39px;
        p{
            margin-bottom: 3px;
        }
    }
    .email {
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 50px;
        display: inline-block;
        padding: 16px 31px 12px;
        font-size: 24px;
        font-weight: 500;
    }
}
#contact-map {
	.contact-box {
		width: 100%;
	}
}
#contact-form{
    .form-group{
        > label{
            display: none;
        }
    }
}
.contact-form{
    h3{
        font-size: 30px;
        font-weight: 600;
        text-transform: initial !important;
        margin-bottom: 34px;
    }
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=) no-repeat scroll right 8px center/25px 25px !important;
    }
    .group-span-filestyle{
        position: absolute;
        right: 0;
        height: 100%;
        > label{
            display: flex;
            align-items: center;
            margin-left: 10px;
            border-radius: 10px;
        }
    }
    .input-group-btn .btn .buttonText{
        font-size: 16px;
    }
    .form-footer{
        margin-top: 50px;
        .btn-submit {
            letter-spacing: -0.02em;
            font-size: 20px;
            height: auto;
            padding: 6px 31px 5px;
            text-transform: initial;
        }
    }
}
.contact-layout-1{
    #contact-form {
        margin-top: 86px;
    }
}
@media (max-width: 1366px){
    #contact-info h3 {
        font-size: 22px;
        line-height: 30px;
    }
    #contact-info .phone{
        font-size: 22px;
    }
    #contact-info .email {
        padding: 7px 20px;
        font-size: 15px;
    }
    .contact-form h3{
        font-size: 22px;
    }
    .contact-form .form-footer .btn-submit{
        font-size: 15px;
    }
    #contact-wrapper .newsletter-box .title{
        font-size: 22px;
    }
    #contact-wrapper .newsletter-box .block_newsletter .content input{
        height: 40px;
    }
}
@media (max-width: 1199px){
    #contact-wrapper .newsletter-box .block_newsletter .content input{
        width: 100%;
    }
}
@media (max-width: 767px){
    #contact-wrapper .newsletter-box,
    #contact-wrapper .newsletter-box .block_newsletter .content{
        flex-direction: column;
        text-align: center;
    }
    #contact-wrapper .newsletter-box .title {
        margin-right: 0;
        margin-bottom: 20px;
    }
    #contact-wrapper .newsletter-box .block_newsletter .content button {
        margin-left: 0;
        margin-top: 15px;
    }
}