@charset "UTF-8";
@import "product.css";
@import "product-list.css";
@import "contact.css";
@import "account.css";
@import "cart.css";
@import "checkout.css";
@import './_variables.scss';
@import './skins.scss';
@import './_fonts.scss';


body {
	font-family: 'SF Pro Display Regular';
	font-size: 18px;
	font-weight: normal;
	line-height: 34px;
	color: #555;
	overflow-x: hidden;
}
.main-site{
	overflow: hidden;
}
a {
	color: inherit;
	transition: color 0.2s;
	&:hover{
		color: $active;
	}
	&:focus-visible{
		outline: none;
	}
}
p {
	margin-bottom: 5px;
	letter-spacing: 0.02em;
}
.form-control{
	font-size: inherit;
	border-radius: 5px;
	color: inherit;
	&:focus{
		box-shadow: none;
		border-color: inherit;
		color: inherit;
	}
	&::placeholder{
		color: inherit;
	}
}
button, svg, path, rect{
	transition: all 0.2s;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Sharp Sans Bold';
}
.card{
	border-top: none;
}
.table tbody+tbody{
	border-top-width: 1px;
}
.table thead th{
	font-weight: 500;
	vertical-align: middle;
	border-bottom-width: 1px;
}
.table-bordered td, .table-bordered th{
	font-weight: 400;
}
@media (min-width: 1367px){
	.container{
		max-width: 1320px;
	}
}
@media (min-width: 1200px){
	.col-xl-20{
		flex: 0 0 20%;
    	max-width: 20%;
		padding-right: 15px;
    	padding-left: 15px;
		position: relative;
    	width: 100%;
	}
}
.container{
	padding-left: 15px;
	padding-right: 15px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-right: 15px;
    padding-left: 15px;
}
.btn{
	font-size: 20px;
    height: 42px;
	line-height: 40px;
    padding: 0 26px;
    border-radius: 90px;
    background-color: $active;
    border: none;
	font-weight: 500;
	color: #fff;
	transition: all .2s;
	&:hover{
		color: #fff;
	}
	&:focus{
		outline: none;
		box-shadow: none;
	}
}
.btn-link{
	color: inherit;
}
.btn-circle{
	border-radius: 50%;
}
.btn-icon{
	font-size: 22px;
    font-family: 'SF Pro Display Medium';
    letter-spacing: 0.03em;
	display: inline-flex !important;
    align-items: center;
	color: $active;
	&.white{
		color: #fff;
		i{
			border-color: #fff;
		}
		&:hover i{
			border-color: #fff;
		}
	}
	&:hover{
		i{
			border-color: $active;
		}
	}
	i{
		width: 3.273em;
		height: 3.273em;
		border: 1px solid $secondary;
		display: inline-flex !important;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin-left: 0.75em;
		transition: all .2s;
	}
}
.btn-close{
	&:hover path{
		fill: $active;
	}
}
.table{
	color: inherit;
}
.label{
	border-radius: 3px;
}
.alert ul{
	margin-bottom: 0;
}
input, textarea{
	border-radius: 10px;
	color:inherit;
	&:focus{
		outline: none;
	}
	&::placeholder{
		color:inherit;
	}
}
.hidden{
	display: none;
}
.collapse:not(.show) {
    display: none !important;
}
.dropdown-menu{
	color: inherit;
}
.modal-dialog{
	background-color: #fff;
	border-radius: 10px;
}
.tab-content > .tab-pane {
    width: 100%;
    height: 0px;
    display: block;
	opacity: 0;
	visibility: hidden;
	&.active{
		height: auto;
		opacity: 1;
		visibility: visible;
	}
}
.pre-loader {
	background-color: #fff;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
}
.sk-fading-circle {
	margin: auto;
	width: 40px;
	height: 40px;
	position: relative;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	.sk-circle {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		&:before {
			content: "";
			display: block;
			margin: 0 auto;
			width: 15%;
			height: 15%;
			background-color: #136cf1;
			border-radius: 100%;
			-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
		}
	}
	.sk-circle2 {
		-webkit-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		transform: rotate(30deg);
		&:before {
			-webkit-animation-delay: -1.1s;
			animation-delay: -1.1s;
		}
	}
	.sk-circle3 {
		-webkit-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		transform: rotate(60deg);
		&:before {
			-webkit-animation-delay: -1s;
			animation-delay: -1s;
		}
	}
	.sk-circle4 {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		&:before {
			-webkit-animation-delay: -0.9s;
			animation-delay: -0.9s;
		}
	}
	.sk-circle5 {
		-webkit-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
		transform: rotate(120deg);
		&:before {
			-webkit-animation-delay: -0.8s;
			animation-delay: -0.8s;
		}
	}
	.sk-circle6 {
		-webkit-transform: rotate(150deg);
		-ms-transform: rotate(150deg);
		transform: rotate(150deg);
		&:before {
			-webkit-animation-delay: -0.7s;
			animation-delay: -0.7s;
		}
	}
	.sk-circle7 {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		&:before {
			-webkit-animation-delay: -0.6s;
		}
	}
	.sk-circle8 {
		-webkit-transform: rotate(210deg);
		-ms-transform: rotate(210deg);
		transform: rotate(210deg);
	}
	.sk-circle9 {
		-webkit-transform: rotate(240deg);
		-ms-transform: rotate(240deg);
		transform: rotate(240deg);
	}
	.sk-circle10 {
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	.sk-circle11 {
		-webkit-transform: rotate(300deg);
		-ms-transform: rotate(300deg);
		transform: rotate(300deg);
	}
	.sk-circle12 {
		-webkit-transform: rotate(330deg);
		-ms-transform: rotate(330deg);
		transform: rotate(330deg);
	}
}
/* Breadcrumb */
.breadcrumb-wrapper{
	padding: 0;
	.breadcrumb{
		padding: 188px 0 59px;
		h3{
			font-size: 46px;
			margin-bottom: 11px;
		}
		li{
			font-size: 16px;
			a{
				font-size: 16px;
				&:hover{
					opacity: 1;
				}
			}
		}
		
	}
}
.breadcrumb {
	margin-bottom: 100px;
    background: url("../img/breabcrumb-bg.jpg") center center/cover no-repeat local;
}

/* Logo */
.site-logo-text{
	color: $active;
	line-height: 44px;
	font-family: 'Futura Orto Bold';
}

/* Header module */
#cart_block{
	.cart_block_total{
		display: none;
	}
	.ajax_cart_quantity{
		display: block;
		line-height: 24px;
		text-align: center;
		width: 20px;
		height: 20px;
		font-size: 15px;
		font-weight: 700;
		top: -4px;
		right: -15px;
		bottom: auto;
		background-color: $secondary;
		font-family: 'Sharp Sans Bold';
	}
	.quantity {
		font-size: 20px;
		font-weight: 500;
		margin-top: 5px;
	}
	.remove-from-cart{
		margin-left: 28px;
		position: relative;
		bottom: 2px;
		&:hover path{
			fill: $active;
		}
	}
	.cart_block_list{
		max-height: 225px;
    	overflow-y: auto;
		.layout-column.product-info{
			padding-left: 20px;
		}
		li + li{
			margin-top: 30px;
		}
		.row{
			margin: 0;
		}
	}
	.billing-info{
		margin-top: 30px;
		border-top-color: #f1f1f1;
		margin-bottom: 10px;
		.cart-prices-line{
			line-height: 33px;
		}
	}
	.label{
		font-size: 18px;
		font-family: 'SF Pro Display Medium';
		color: #222;
		padding: 0;
	}
	.cart-prices-line .value{
		font-family: 'SF Pro Display Bold';
		font-size: 20px;
		color: $active;
	}
	.cart-button .btn{
		font-size: 20px;
		font-family: 'SF Pro Display Bold';
		height: 42px;
		line-height: 42px;
		text-transform: initial;
	}
}
.gdz-megamenu{
	position: static;
	.dropdown-menu{
		left: -8px;
		top: calc(100% + 0px);
		min-width: 180px;
		padding: 18px 0;
		border-radius: 10px;
		box-shadow: 0px 0px 40px rgb(0 0 0 / 18%);
	}
	.nav{
		> .menu-item .mega-nav li{
			padding: 0;
			&.group > a{
				font-size: 21px;
				margin-bottom: 14px;
				font-family: 'Sharp Sans Bold';
				font-weight: 600;
				color: #222;
			}
			> a{
				padding: 0 30px;
				font-weight: 400;
				font-size: 18px;
				line-height: 39px;
				&:hover{
					color: $active;
				}
			}
		}
		> li{
			&.sub-category{
				.mod-content img{
					max-width: 420px;
					width: 100%;
				}
			}
			> a{
				position: relative;
			}
		}
	}
}
.mega-dropdown-menu .mega-nav > .mega > a::after{
	right: 28px;
}
#hor-menu .nav > li{
	&.item-fullwidth{
		.mega-nav li > a{
			padding-left: 43px;
		}
	}
	&.open > a{
		span{
			&::after{
				transform-origin: left center;
				transform: scale(1,1);
			}
		}
	}
	> a{
		color: #222;
		display: inline-block;
		letter-spacing: 0.02em;
		font-family: 'SF Pro Display Medium';
    	font-weight: normal;
		&:hover span::after{
			transform-origin: left center;
			transform: scale(1,1);
		}
		span{
			position: relative;
			&::after{
				content: "";
				background-color: $secondary;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: -5px;
				left: 0;
				right: 0;
				transform: scale(0,1);
				transform-origin: right center;
				transition: transform .3s ease,-webkit-transform .3s ease;
			}
		}
	}
}
.user-info-content{
    top: calc(100% + 22px);
	&::before{
		content: "";
		width: 15px;
		height: 15px;
		transform: rotate(-45deg);
		background-color: #fff;
		position: absolute;
		top: -5px;
		right: 38px;
	}
}
.shoppingcart-box{
	width: 385px;
	padding: 35px 27px;
	top: calc(100% + 22px);
	right: -36px;
	&::before{
		content: "";
		width: 15px;
		height: 15px;
		transform: rotate(-45deg);
		background-color: #fff;
		position: absolute;
		top: -5px;
		right: 71px;
	}
}
.dropdown-menu{
	box-shadow: 0px 0px 40px rgb(0 0 0 / 18%);
}
.gdz_ajax_search{
	position: static;
	.search-form.dropdown-menu{
		right: -45px;
		top: calc(100% + 27px);
		&::before{
			content: "";
			width: 15px;
			height: 15px;
			transform: rotate(-45deg);
			background-color: #fff;
			position: absolute;
			top: -5px;
    		right: 132px;
		}
	}
}
#off-canvas-menu{
	text-align: left;
	.gdz-megamenu{
		margin-bottom: 30px;
	}
	.user-info {
		margin-bottom: 30px;
	}
	> .btn-group{
		display: block;
		padding: 0 20px;
	}
	.user-info-content{
		position: static;
		box-shadow: none;
		width: 100%;
		float: none;
		max-width: 100%;
		padding: 10px 0 0 15px;
	}
}


/* header */
#desktop-header{
	.container-fluid{
        max-width: 1750px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
#header-topbar{
	padding: 7px 0;
	.container-fluid{
		position: relative;
		&::before{
			content: "";
			height: 1px;
			background-color: #ebebeb;
			width: calc(100% - 30px);
			left: 15px;
			position: absolute;
			bottom: -6px;
		}
    }
	.topbar-content{
		p{
			font-size: 15px;
			line-height: 17px;
		}
	}
	.btn-group{
		margin-left: 24px;
		> a{
			font-size: 15px;
			line-height: 17px;
		}
	}
	.dropdown-menu{
		top: calc(100% + 10px);
		left: -19px;
		font-size: 14px;
		padding: 20px;
	}
}
#header-top{
    padding: 16px 0;
	&.sticky{
		.gdz-megamenu .nav > li > a{
			line-height: 70px;
		}
	}
    .blockcart{
        .cart-icon{
            margin-right: 15px;
        }
    }
}
.header-right{
	.dropdown-menu{
		&.user-info-content{
			right: -20px;
		}
		&.shoppingcart-box{
			right: -36px;
		}
	}
	.show .dropdown-menu{
		animation-duration: 0.2s;
		animation-timing-function: ease;
		animation-name: slideDown2, fadeIn;
	}
	.btn-group > a:hover path{
		fill: $active;
	}
}
@keyframes slideDown2 {
	0% {
	  	transform: translateY(-15px); }
	100% {
	  transform: translateY(0); 
	} 
}

.header-1{
	#header-top{
		padding: 16px 0 11px;
		> .container-fluid{
			position: relative;
		}
		.col-megamenu, .gdz-megamenu{
			position: static;
		}
	}
	.sticky .logo{
		padding-top: 5px;
	}
	#hor-menu .nav > li{
		&.sub-products{
			position: static;
			> .dropdown-menu{
				right: 15px;
				left: auto;
				transform: none;
			}
		}
	}
}
.header-2{
	transition: all .2s;
	#header-top .blockcart .cart-icon {
		margin-right: 8px;
	}
	#hor-menu{
		opacity: 0;
		visibility: hidden;
	}
	.js-open-menu{
		cursor: pointer;
		.icon_close{
			display: none;
		}
	}
	.shoppingcart-box::before {
		right: 63px;
	}
	.gdz_ajax_search .search-form.dropdown-menu::before {
		right: 183px;
	}
}
.open-menu .header-2{
	#hor-menu{
		opacity: 1;
		visibility: visible;
	}
	.js-open-menu{
		.icon_close{
			display: block;
		}
		.icon_menu{
			display: none;
		}
	}
}
.header-3{
	.header-top{
		.site-logo-text{
			margin-right: 47px;
		}
		> .container-fluid{
			position: relative;
		}
		.col-megamenu, .gdz-megamenu{
			position: static;
		}
	}
	.gdz_ajax_search .search-form.dropdown-menu::before {
		right: 188px;
	}
	#hor-menu .nav > li{
		&.sub-products{
			position: static;
			> .dropdown-menu{
				left: 15px;
				right: auto;
				transform: none;
			}
		}
	}
}
.header-4{
	.site-logo-text{
		color: $secondary;
	}
	#header-top{
		.container{
			position: relative;
		}
	}
	.col-center{
		position: static;
		.col-auto{
			position: static;
		}
	}
	#ver-menu{
		.menu-item.products{
			position: static;
			> .dropdown-menu{
				top: calc(100% + 29px);
				left: -25px;
    			transform: none;
				&::before{
					content: "";
					width: 15px;
					height: 15px;
					transform: rotate(-45deg);
					background-color: #fff;
					position: absolute;
					top: -5px;
					left: 368px;
				}
			}
			.col-sm-2{
				flex: 0 0 20%;
    			max-width: 20%;
			}
			> a{
				background-color: $active;
				letter-spacing: 0.03em;
				font-size: 20px;
				font-family: 'SF Pro Display Bold';
				border-radius: 90px;
				padding: 0 31px;
				height: 45px;
				color: #fff;
				display: flex;
				align-items: center;
				&::before{
					content: url("../img/vermenu/menu-icon.png");
					margin-right: 17px;
					padding-top: 3px;
				}
			}
		}
	}
	#search-form{
		width: 445px;
		max-width: 100%;
		.search-input{
			height: 45px;
			background-color: #F4F4F4;
			border-radius: 90px;
			color: #777;
			padding: 0 22px;
			&::placeholder{
				color: inherit;
			}
		}
		.button-search{
			height: 45px;
			right: 14px;
			left: auto;
			&:hover path{
				fill: $active;
			}
		}
	}
	#header-top{
		padding: 31.5px 0;
	}
	.header-bottom.sticky{
		.menu li a{
			line-height: 50px;
			span{
				margin-top: 0;
			}
			svg{
				display: none;
			}
		}
	}
	.header-bottom{
		padding: 31px 0 24px;
		.container{
			position: relative;
			&::before{
				content: "";
				position: absolute;
				left: 15px;
				right: 15px;
				top: -33px;
				height: 1px;
				width: 100%;
				background-color: #ededed;
			}
		}
		.menu{
			text-align: center;
			margin-bottom: 0;
			li{
				display: inline-block;
				padding: 0 3.1vw;
				a{
					font-size: 19px;
					font-family: 'SF Pro Display Medium';
					letter-spacing: 0.03em;
					display: flex;
					flex-direction: column;
					align-items: center;
					&:hover path{
						fill: $active;
					}
					span{
						margin-top: 9px;
					}
				}
			}
		}
	}
}
.header-5{
	
}
.header-6{
	
}
.header-7{
	
}

/* popup newsletter */
.popup-newsletter{
	.gdz-popup{
		border-radius: 20px;
		background: #fff url("../img/popup-newsletter.jpg") no-repeat;
		background-size: 46.5% auto;
		padding: 0;
	}
	.gdz-popup-content{
		max-width: 53.5%;
		width: 53.5%;
		margin-left: auto;
		padding: 82px 48.5px 0 48.5px;
		.popup-content + p{
			font-size: 14px;
			letter-spacing: 0;
			line-height: 23px;
			color: #777;
		}
		h2{
			font-size: 36px;
			line-height: 40px;
			color: inherit;
			margin-bottom: 6px;
			font-family: 'Sharp Sans Bold';
			span{
				font-weight: 600;
				color: #F1402A;
			}
		}
		.desc{
			font-size: 18px;
			line-height: 27px;
			max-width: 426px;
    		margin: 0 auto;
			letter-spacing: 0;
		}
	}
	.popup-content {
		margin-top: 22px;
	}
	.block_newsletter{
		margin-bottom: 13px;
		.content{
			input{
				border: 2px solid #e8e8e8;
				text-align: center;
				font-size: 16px;
			}
			button{
				width: 100%;
				margin-top: 13px;
				color: #fff;
				font-size: 22px;
    			font-family: 'SF Pro Display Medium';
			}
		}
		.btn-svg{
			display: none;
		}
	}
	#social-links{
		display: block;
		margin-top: 35px;
		margin-bottom: 15px;
		li{
			margin: 0 10px;
			path{
				stroke: $active;
			}
		}
	}
	.dontshow{
		display: inline-flex;
		position: relative;
		input{
			width: 20px;
			height: 20px;
			opacity: 0;
			cursor: pointer;
			z-index: 1;
			&:checked + .checkbox-custom{
				&::after{
					display: block;
				}
			}
		}
		.checkbox-custom{
			position: absolute;
			left: 0;
			top: 4px;
			width: 20px;
			height: 20px;
			border: 2px solid #C7C7C7;
			border-radius: 5px;
			&::after{
				content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNS4xNjY2N0w2LjM4NDYyIDExTDE1IDEiIHN0cm9rZT0iIzMzMzMzMyIgc3Ryb2tlLXdpZHRoPSIxLjYiLz4KPC9zdmc+Cg==);
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				left: 50%;
				max-width: 16px;
				display: none;
			}
		}
		label{
			font-size: 15px;
			color: #777;
			margin-bottom: 0;
		}
	}
}

/* slider */
.slider-home-2{
	.fs-pager-wrapper{
		top: calc(50% + 1.84vw);
	}
}
.gdz-slider-wrapper{
	.gdz-slide-content{
		&.subtitle{
			letter-spacing: 0.3em;
    		font-family: 'SF Pro Display Bold';
		}
		&.title{
			font-family: 'Sharp Sans Bold';
			letter-spacing: 0.02em;
			span{
				font-family: 'Futura Orto Bold';
				font-weight: 700;
			}
		}
		.btn-icon{
			font-size: 1em;
			svg{
				width: 1.1em;
			}
		}
	}
	.nav-control{
		position: absolute;
		right: 2.3vw;
		top: 50%;
		transform: translateY(-50%);
		z-index: 999;
		> a{
			display: flex;
			+ a{
				margin-top: 2.36vw;
			}
			&:hover{
				path{
					stroke: $active;
				}
			}
		}
	}
}
.fs_loader{
	width: 100%;
    height: 100%;
    background:#fff;
	position: absolute;
    z-index: 1000;
	.spinner {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;
		border: 5px solid #eee;
		display: inline-block;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		
		&:after, &:before {
			content: '';
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
		
		&:after {
			position: absolute;
			top: -5px;
			left: -5px;
			border: 5px solid transparent;
			border-top-color: #928a8a;
			animation: spin .5s linear infinite;
		}
	}
}
@keyframes spin {
	0% {
	  	transform: rotate(0deg);
	}
	
	100% {
	  	transform: rotate(360deg);
	}
}
.gdz-slide-content{
    .btn{
        font-size: 20px;
        height: 54px;
        line-height: 50px;
        text-transform: initial;
        font-weight: 600;
        letter-spacing: -0.02em;
        padding: 0 42px;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
    }
}
.fs-pager-wrapper{
	display: flex;
	flex-direction: column;
	left: 3.2vw;
	top: 50%;
	bottom: auto;
    transform: translateY(-50%);
	z-index: 999;
    a{
		transition: none;
		display: inline-flex;
    	margin: 10px 0;
		&.active{
			span{
				opacity: 1;
				&::before{
					content: "";
					background-color: transparent;
					border-radius: 50%;
					border: 1px solid $secondary;
					width: 30px;
					height: 30px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: -1;
				}
			}
		}
		span{
			display: inline-block;
			background-color: $active;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			opacity: 0.5;
			margin: 0 10px;
			position: relative;
			transition: .2s all;
			font-size: 0;
			&:hover{
				opacity: 1;
			}
		}
	}
}
.fraction-slider .prev, .fraction-slider .next{
	z-index: 999;
}

/* banner */
.pb-banner{
	> a{
		display: block;
		overflow: hidden;
		&:hover img{
			transform: scale(1.1);
		}
		img{
			transition: .4s all;
		}
	}
	.pb-banner-button{
		background: transparent;
		border-radius: 0;
		border: 0;
		padding: 0;
		position: relative;
	}
	.pb-banner-text{
		overflow: visible;
	}
}

/* nav tab */
.addon-tab{
	.nav.nav-tabs{
		margin-bottom: 60px;
		&.tab-left{
			.nav-item{
				margin-left: 0;
				margin-right: 9px;
			}
		}
		&.tab-right{
			.nav-item{
				margin-left: 9px;
				margin-right: 0;
			}
		}
		.nav-link{
			font-size: 20px;
			text-align: center;
			font-family: 'Sharp Sans Bold';
			border-radius: 10px;
			padding: 10px 30px 6px;
			text-transform: initial;
			transition: all .2s;
			&.active, &:hover{
				color: $active;
				background-color: #fff;
				box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
			}
		}
	}
}

/* category tab right */
.category-tab-right{
	.title{
		display: flex;
		justify-content: space-between;
	}
	.nav.nav-tabs{
		width: auto;
		margin-bottom: 53px;
	}
}




/* productbox */
.product-title a.product-link{
	text-transform: initial;
}
.product-link {
    font-size: 20px;
    line-height: 34px;
    display: block;
	color: #444;
	font-family: 'SF Pro Display Medium';
	font-weight: normal;
	letter-spacing: 0.02em;
}
.price{
	&.new, &.total{
		font-size: 21px;
		font-family: 'SF Pro Display Bold';
		font-weight: normal;
		color: $active;
	}
}
.product-miniature{
	margin-bottom: 30px;
	position: relative;
	background-color: #fff;
	transition: .2s all;
	.product-thumbnail{
		position: relative;
		> a{
			display: block;
			overflow: hidden;
		}
	}
	.category-name{
		a{
			font-size: 15px;
			color: rgba(63, 40, 3, 0.6);
			display: inline-block;
			text-transform: capitalize;
			margin-bottom: 3px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.product-title{
		margin-bottom: 4px;
	}
	.product-buttons{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 12px;
		.ajax-add-to-cart{
			text-transform: initial;
		}
	}
	.product-reviews{
		position: relative;
		height: 30px;
		margin-bottom: 10px;
		margin-left: -2px;
	}
	.content_price{
		.old.price{
			margin-right: 7px;
			position: relative;
			bottom: 4px;
			font-weight: 500;
			+ .price.new{
				color: #F1402A;
			}
		}
		.jms-videos{
			display: none;
		}
	}
}
.productbox-flex{
	.product-preview{
		display: flex;
		align-items: center;
	}
	.product-thumbnail{
		display: inline-block;
		width: 75px;
		min-width: 75px;
		margin-right: 20px;
	}
	.product-info{
		display: inline-block;
		margin-top: 0;
	}
}
.productbox-1{
	text-align: center;
	border-radius: 15px;
	transition: none;
	transition: box-shadow .2s;
	&:hover{
		background-color: #fff;
		border-radius: 15px 15px 0 0;
		box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
		.product-preview{
			box-shadow: none;
		}
		.product-buttons{
			opacity: 1;
			visibility: visible;
		}
		.product-buttons{
			.addToWishlist, 
			.ajax-add-to-cart,
			.quick-view{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.product-preview{
		background-color: #fff;
		border-radius: 15px;
		padding-bottom: 20px;
	}
	.product-buttons{
		position: absolute;
		opacity: 0;
		width: 100%;
		visibility: hidden;
		padding-bottom: 30px;
		border-radius: 0 0 15px 15px;
		background-color: #fff;
		box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
		z-index: 9;
		&::before{
			content: "";
			width: 100%;
			height: 10px;
			background-color: #fff;
			position: absolute;
			bottom: 100%;
			left: 0;
			z-index: 1;
		}
		.ajax-add-to-cart {
			width: 160px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0 15px;
			font-family: 'SF Pro Display Regular';
			font-weight: normal;
			margin: 0 15px;
			position: relative;
			opacity: 0;
			visibility: hidden;
			transition: all .2s;
			span{
				transition: all .2s;
			}
			&:hover{
				span{
					opacity: 0;
				}
				svg{
					opacity: 1;
				}
			}
			svg{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				margin: auto;
    			height: 100%;
			}
		}
		.btn-icon{
			&:hover{
				path{
					fill: $active;
					fill-opacity: 1;
				}
			}
			span{
				display: none;
			}
		}
		.addToWishlist{
			opacity: 0;
			visibility: hidden;
		}
		.quick-view{
			opacity: 0;
			visibility: hidden;
		}
	}
	.product-info{
		margin-top: 0;
	}
}
.productbox-2{
	background-color: #fff;
	text-align: left;
	overflow: hidden;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 4%);
    border-radius: 15px;
	.product-buttons{
		margin-top: 0;
		margin-right: -5px;
		.ajax-add-to-cart{
			margin: 0;
			padding: 0 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 102px;
			&:hover{
				color: #fff;
			}
		}
	}
	.product-info{
		margin-top: 0;
		padding: 0px 30px 17px;
	}
	.content_price{
		position: relative;
		top: 4px;
		display: flex;
		flex-direction: column;
		line-height: 24px;
		&.discount{
			.price{
				&.old{
					position: relative;
					bottom: 16px;
					+ .price.new{
						position: absolute;
    					top: 8px;
					}
				}
			}
		}
	}
	.price{
		&.old{
			font-size: 14px;
    		font-weight: 500;
			+ .price.new{
				color: #FF2626;
			}
		}
		&.new{
			color: inherit;
		}
	}
}
.productbox-3{
	text-align: center;
	background-color: #fff;
	padding-bottom: 18px;
	margin-bottom: 30px;
	transition: .2s all;
	&:hover{
		box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
		.product-thumbnail .product-buttons{
			opacity: 1;
			visibility: visible;
		}
	}
	.product-thumbnail{
		.product-buttons{
			background: #FFFFFF;
			box-shadow: 0px 0px 25px rgb(0 0 0 / 8%);
			border-radius: 60px;
			padding: 11px 0;
			width: 180px;
			max-width: calc(100% - 30px);
			position: absolute;
			left: 50%;
			bottom: 18px;
			transform: translateX(-50%);
			opacity: 0;
			visibility: hidden;
			transition: .2s all;
			z-index: 1;
			.btn-icon{
				border: none;
				background: transparent;
				padding: 0 17px;
				width: auto;
				height: auto;
				margin: 0;
			}
		}
	}
	.product-info{
		margin-top: 0;
		padding: 0 20px;
		.product-buttons{
			display: none;
		}
	}
	.price{
		&.old{
			color: rgba(63, 40, 3, 0.5);
			font-weight: 500;
			margin-right: 12px;
		}
	}
}
.productbox-4{
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	&:hover{
		.block-addtocart .product-buttons{
			.quick-view{
				display: inline-flex;
			}
			.cart-button{
				color: #fff;
				span{
					width: 100%;
					font-size: 16px;
					line-height: normal;
					margin-left: 3px;
					margin-right: 13px;
				}
			}
		}
		.content_price{
			display: none;
		}
	}
	.product-link{
		margin-bottom: 4px;
	}
	.product-reviews{
		margin-left: 0;
	}
	.product-info{
		margin-top: 0;
		padding: 0 28px 19px 28px;
	}
	.block-addtocart {
		display: flex;
		align-items: center;
		margin-top: 16px;
		+ .product-buttons{
			display: none;
		}
		.product-buttons{
			margin-top: 0;
			justify-content: flex-start;
			.btn-icon{
				border-radius: 50%;
				width: 38px;
				height: 38px;
				padding: 0;
				margin: 0 10px 0 0;
				background-color: #f8f8f8;
				border: none;
				&.quick-view{
					&:hover path{
						fill: #fff;
					}
				}
				span{
					width: 0;
					line-height: 0;
					font-size: 0;
					transition: margin .2s;
				}
			}
			.cart-button{
				border-radius: 20px;
				width: auto;
				padding: 0 7px;
				transition: background-color 0.2s linear, padding 0.2s ease-out;
				svg{
					min-width: 24px;
				}
				path{
					fill: #fff;
				}
			}
			.quick-view{
				display: none;
			}
		}
	}
	.price.new{
		color: inherit;
	}
}

/* blockcart modal */
#blockcart-modal{
	.modal-dialog{
		width: 470px;
    	max-width: calc(100% - 30px);
		.close{
			top: 10px;
			transform: none;
		}
	}
	.modal-body{
		text-align: center;
		padding: 34px 40px;
		border-radius: 10px;
	}
	.modal-content{
		border-radius: 10px;
		border: none;
	}
	.product-image{
		max-width: 188px;
		margin-bottom: 0;
		border-radius: 5px;
		border: none;
	}
	.modal-title{
		font-family: 'Sharp Sans Bold';
		font-size: 24px;
		color: $active;
		margin-bottom: 9px;
	}
	.product-link{
		margin-bottom: 4px;
	}
	.cart-products-count{
		font-size: 17px;
		margin-top: 26px;
    	padding-top: 14px;
		margin-bottom: 24px;
		letter-spacing: 0;
		border-top: 1px solid #f2f2f2;
	}
	.label{
		font-size: 20px;
		font-weight: 500;
		min-width: 50%;
		text-align: right;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0;
		color: #222;
		font-family: 'SF Pro Display Medium';
	}
	.value{
		font-family: 'SF Pro Display Bold';
		font-size: 20px;
		text-align: left;
		color: $active;
	}
	.group-btn{
		margin-top: 45px;
		display: flex;
    	justify-content: space-between;
		.btn{
			padding: 0 17px;
			+ .btn{
				padding: 0 42px;
			}
		}
	}
	.btn-default{
		height: 42px;
		line-height: 38px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: transparent;
		color: $active;
		border: 1px solid $secondary;
		
		&:hover{
			color: #fff;
			background-color: $active;
			border-color: $active
		}
	}
	.btn{
		font-size: 20px;
		font-family: 'SF Pro Display Bold';
		text-transform: initial;
	}
	.btn-active{
		margin-top: 21px;
		height: 42px;
		line-height: 40px;
		margin-bottom: 12px;
	}
}

/* accordion */
.pb-accordion{
	h5{
		margin-bottom: 0;
		cursor: pointer;
		&::after{
			content: "-";
			position: absolute;
			font-weight: 400;
			right: 0px;
			width: 33px;
			height: 33px;
			background: #f5f5f5;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			top: 50%;
    		transform: translateY(-50%);
		}
		&.collapsed::after{
			content: "+";
		}
	}
	.card-header{
		position: relative;
	}
}

/* testimonial */
.pb-testimonial{
	&.type-2{
		.pb-testimonial-box{
			background: #FFFFFF;
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
			border-radius: 15px;
			padding: 36px 49px 67px;
		}
		.pb-testimonial-comment{
			margin-top: 0;
			margin-left: 0;
			margin-bottom: 10px;
			text-align: left;
			max-width: 100%;
			padding: 0 0 0 24px;
			position: relative;
			&::before{
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 3px;
				height: calc(100% - 20px);
				background-color: #696969;
			}
		}
		.pb-testimonial-img img{
			width: 65px;
			height: 65px;
		}
		.pb-testimonial-author{
			margin-left: 12px;
		}
		.author-name{
			font-size: 17px;
			color: #222;
			font-family: 'SF Pro Display Bold';
		}
		.author-position{
			text-align: left;
			font-size: 15px;
			font-weight: 400;
		}
		.owl-carousel .owl-nav{
			width: auto;
			bottom: 28px;
			top: auto;
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			button{
				margin: 0 10px;
				position: static;
				width: auto;
				height: auto;
				border: none !important;
				transform: none;
				&:hover{
					path{
						stroke: $active;
					}
				}
			}
		}
	}
	.pb-testimonial-comment{
		font-size: 18px;
		font-weight: 300;
		padding: 15px;
		margin-top: 34px;
		margin-bottom: 2px;
		max-width: 71%;
		margin-left: auto;
		margin-right: auto;
	}
	.quote{
		margin-bottom: 24px;
	}
	.pb-testimonial-author {
		font-size: 18px;
		font-weight: 600;
	}
	.pb-testimonial-position{
		font-size: 16px;
		opacity: 1;
    	font-weight: 400;
		span{
			margin: 0 5px;
		}
	}
	.pb-testimonial-rating{
		svg{
			margin-right: -3.5px;
		}
	}
	.owl-dots{
		margin-top: 31px;
	}
}

/* Hotdeal */
.pb-hotdeal .countdown{
	bottom: 180px;
}

/* Countdown */
.countdown{
	.countdown-section{
		width: 110px;
		height: 110px;
		padding: 0;
		border-radius: 50%;
		border: 2px solid $secondary;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-right: 10px;
		margin-bottom: 10px;
		.countdown-amount{
			font-family: 'SF Pro Display Bold';
			font-size: 48px;
			line-height: 34px;
			padding-bottom: 3px;
			padding-top: 15px;
		}
		.countdown-period{
			font-size: inherit;
			text-transform: lowercase;
		}
	}
}

/* Recentbought popup */
#woorebought-popup{
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}


/* addon blog */
.blog-carousel{
	.owl-stage-outer{
		padding: 0;
		margin: 0;
	}
}
.blog{
    &.nav-top-right{
        .owl-carousel .owl-nav{
            top: -75px;
        }
    }
}
.pb-blog{
	.post-thumb{
		position: relative;
    	overflow: hidden;
		border-radius: 10px;
		> a{
			display: block;
			overflow: hidden;
			&:hover img{
				transform: scale(1.1);
			}
			img{
				transition: .4s all;
				border-radius: 10px;
			}
		}
		.post-created{
			position: absolute;
			top: 15px;
			left: 15px;
			background-color: #fff;
			width: 66px;
			height: 66px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			color: #222;
			font-family: 'SF Pro Display Bold';
			letter-spacing: 0.02em;
			padding: 0 15px;
			text-align: center;
			line-height: 20px;
		}
	}
	.post-meta{
		text-align: left;
		margin-top: 4px;
		margin-bottom: 0;
		li{
			font-size: 16px;
			line-height: 20px;
			margin: 0;
			margin-right: 18px;
			position: relative;
			display: inline-block;
			letter-spacing: 0.02em;
			color: $active;
			+ li{
				&::before{
					content: "/";
					position: absolute;
					left: -15px;
				}
			}
		}
	}
	.post-title {
		display: block;
		text-align: left;
		font-size: 24px;
		color: #222;
		text-transform: capitalize;
		margin-top: 17px;
		font-family: 'SF Pro Display Medium';
		letter-spacing: 0.02em;
		text-transform: initial;
		&:hover{
			color: $active;
		}
	}
	.post-intro{
		p{
			line-height: 1.65;
		}
	}
	.post-readmore{
		margin-top: 10px;
	}
}

/* service box */
.service-box{
	&.type-2{
		.pb-service-box{
			display: flex;
			justify-content: center;
		}
		.pb-service-icon{
			background-color: transparent;
			width: auto;
			height: auto;
			margin-bottom: 0;
			margin-right: 25px;
			box-shadow: none;
		}
		.pb-service-content{
			.pb-service-title{
				margin-bottom: 1px;
			}
			.pb-service-description{
				margin-bottom: 0;
				p{
					font-size: 17px;
					margin-bottom: 0;
				}
			}
		}
	}
	.pb-service-icon{
		display: inline-flex;
		width: 110px;
		height: 110px;
		box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.09);
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin-bottom: 32px;
		img{
			width: auto !important;
		}
	}
	.pb-service-content{
		.pb-service-title{
			color: #222;
			font-size: 24px;
			margin-bottom: 12px;
		}
		.pb-service-description{
			p{
				font-size: 19px;
				letter-spacing: 0;
			}
		}
	}
}

/* newsletter */
.block_newsletter{
	.content{
		display: flex;
		position: relative;
		.input-wrapper{
			width: 100%;
		}
		input{
			height: 50px;
			border-radius: 50px;
			letter-spacing: 0.02em;
			font-size: 16px;
			color: #999;
			border-radius: 7px;
			padding: 0 15px;
			&:focus{
				outline: none;
			}
		}
		button{
			height: 50px;
			font-size: 20px;
			padding: 0 29px;
			&.btn{
				display: none;
			}
		}
		.btn{
			display: none;
		}
		.btn-svg{
			position: absolute;
			right: 0;
			top: 0;
			background: transparent;
			border: none;
			padding: 0 10px;
			display: flex;
			align-items: center;
			path{
				stroke: $active;
			}
		}
	}
	.gdz-popup-content{
		p{
			font-size: 13px;
		}
	}
	.alert{
		position: fixed;
		bottom: 15px;
		right: 15px;
		z-index: 999;
	}
}

/* owl carousel */
.nav-top-right{
	.owl-carousel .owl-nav{
		width: auto;
		top: -69px;
		right: -5px;
		position: absolute;
		button{
			margin-left: 20px;
			position: static;
			width: auto;
			height: auto;
			border: none !important;
			transform: none;
			&:hover{
				path{
					stroke: $active;
				}
			}
		}
	}
}
.catproduct-carousel, 
.categorytab-products,
.flashsale-carousel,
.hotdeal-products,
.filter-products,
.producttab-products{
	&.owl-carousel{
		.owl-stage-outer{
			padding: 15px 15px 50px;
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}
.owl-carousel{
	.owl-nav{
		position: static;
		button{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			width: 72px;
			height: 72px;
			border-radius: 50%;
			&.owl-prev, &.owl-next{
				background: transparent;
				border: 1px solid $secondary;
				&:hover{
					border-color: $active;
				}
			}
			&.owl-prev{
				left: -102px;
			}
			&.owl-next{
				right: -102px;
			}
		}
	}
	.owl-dots{
		button{
			&.active{
				span{
					opacity: 1;
					background-color: $active;
					border: none;
					&::before{
						content: "";
						background-color: transparent;
						border-radius: 50%;
						border: 1px solid $secondary;
						width: 30px;
						height: 30px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: -1;
					}
				}
			}
			span{
				width: 10px;
				height: 10px;
				background-color: $active;
				border-radius: 50%;
				opacity: 0.5;
				margin: 0 10px;
				position: relative;
				transition: .2s all;
				&:hover{
					opacity: 1;
				}
			}
		}
	}	
}


/* Quickview */
.quickview-modal{
	background-color: rgba(0,0,0,0.5);
	&.modal{
		transition: .2s all;
		&.show{
			transition-delay: .5s;
		}
		+ .modal-backdrop{
			display: none;
		}

	}
	.modal-dialog{
		width: 900px;
		max-width: calc(100% - 30px);
		padding: 20px;
		.close{
			padding: 0;
		}
	}
	.modal-body{
		padding: 0;
	}
	.modal-content{
		border: none;
	}
	.modal-header{
		border: none;
		padding: 0;
	}
	.product-name{
		font-size: 26px;
		font-weight: 600;
		margin-bottom: 15px;
		color: inherit;
		margin-top: 10px;
	}
	.content_price .price{
		font-size: 24px;
	}
	#gdz_productvideo{
		display: none;
	}
}

/* Product list */
.filters-panel{
	.col-4{
		> div{
			display: inline-block;
		}
		.js-item-show{
			margin-right: 30px;
			span{
			}
		}
	}
}
#search_filters .facet{
	&.Weight{
		.facet-label{
			> a{
				font-weight: 600;
			}
		}
		.custom-checkbox{
			display: none;
		}
		ul{
			li{
				display: inline-block;
				a{
					border: 2px solid #EDEDED;
					border-radius: 50px;
					padding: 0 19px;
					margin-bottom: 10px;
					margin-right: 6px;
				}
			}
		}
	}
	&.Color{
		.custom-checkbox{
			width: auto;
			height: auto;
			position: static;
			margin: 0;
			> input{
				display: none;
			}
		}
		ul{
			li{
				display: inline-block;
				margin-right: 6px;
			}
		}
		.facet-label{
			&.active, &:hover{
				.color{
					border: 5px solid #FFFFFF;
					box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
				}
			}
			> a{
				display: none;
			}
			.checkmark{
				display: none;
			}
			.color{
				width: 35px;
				height: 35px;
				border-radius: 50%;
				display: block;
				cursor: pointer;
				transition: .2s all;
			}
		}
	}
}
.top-seller{
	margin-bottom: 40px;
	.productbox-flex{
		margin-bottom: 3px;
	}
}
.products-list{
	.product-miniature{
		.product-info .product-buttons{
			display: flex;
			flex-direction: column;
			align-items: baseline;
			.ajax-add-to-cart{
				margin: 0;
			}
			.addToWishlist{
				margin-top: 19px;
				margin-bottom: -3px;
			}
			.btn-icon{
				width: auto;
				background-color: transparent;
				border-radius: 0;
				path{
					fill: inherit;
					fill-opacity: 0.7;
				}
				span{
					display: inline-block;
					margin-left: 6px;
					font-weight: 500;
					transition: .2s all;
				}
			}
		}
	}
	.productbox-1{
		.variant-links{
			margin-bottom: -5px;
		}
		.product-buttons{
			.ajax-add-to-cart{
				order: 1;
			}
			.addToWishlist{
				order: 2;
				margin-top: 19px;
				margin-bottom: -3px;
			}
			.quick-view{
				order: 3;
			}
		}
	}
	.productbox-3{
		.product-thumbnail .product-buttons{
			display: none;
		}
		.product-info{
			margin-top: 15px;
		}
	}
	.productbox-4{
		.content_price{
			display: block;
		}
		.block-addtocart{
			.product-buttons{
				display: none;
			}
		}
	}
}
.faceted-overlay{
	z-index: 1000;
}
@media (min-width: 768px){
	.col-product{
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.grid-2{
		.products{
			.col-product{
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
	.grid-3{
		.products{
			.col-product{
				flex: 0 0 33.333333%;
				max-width: 33.333333%;
			}
		}
	}
	.grid-4{
		.products{
			.col-product{
				flex: 0 0 25%;
				max-width: 25%;
			}
		}
	}
	.grid-5{
		.products{
			.col-product{
				flex: 0 0 20%;
				max-width: 20%;
			}
		}
	}
	.grid-6{
		.products{
			.col-product{
				flex: 0 0 16.666667%;
				max-width: 16.666667%;
			}
		}
	}
}


/* Product details */
.images-container .slick-arrow:hover {
	background-color: $active;
}
.product-images .thumb-container > .thumb.selected{
	border-color: $active;
}
#content-wrapper.col-lg-9{
	.vertical-thumbs{
		.js-qv-mask{
			width: 70px;
		}
		.product-cover{
			width: calc(100% - 100px);
		}
		.slick-prev {
			left: 0;
		}
		.slick-next {
			right: 0;
		}
	}
}
.product-additional-info{
	.product-comments-additional-info{
		display: none;
	}
}
.same-category{
	margin-top: 78px;
	h2{
		font-size: 40px;
		margin-bottom: 46px;
	}
	.owl-carousel{
		.owl-stage-outer {
			height: calc(100% + 30px);
			width: calc(100% + 30px);
			margin: -15px;
			padding: 15px;
		}
		.owl-nav{
			position: absolute;
			top: auto;
			bottom: calc(100% + 36px);
			right: 0;
			width: auto;
			button{
				position: static;
				transform: none;
				margin: 0 0 0 10px;
				width: 50px;
				height: 50px;
				background-color: #fff;
				box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
				svg{
					width: 35px;
					height: 35px;
				}
			}
		}
	}
	.item .js-product-miniature{
		margin-bottom: 0;
	}
}
#more_info_block{
	#accordion{
		.collapse{
			width: 100%;
			height: 0px;
			display: block;
			opacity: 0;
			visibility: hidden;
			&.show{
				height: auto;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/* Blog post */
.single-blog{
	max-width: 1070px;
	margin-left: auto;
	margin-right: auto;
}
.blog-post{
	> *{
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;
	}
	> .post-thumb{
		max-width: 100%;
	}
	.post-thumb{
		margin-bottom: 30px;
	}
	.post-fulltext{
		line-height: 26px;
		p{
			margin-bottom: 26px;
		}
		ul{
			margin-bottom: 19px;
			li{
				line-height: 33px;
				padding-left: 16px;
				position: relative;
				&::before{
					content: "";
					position: absolute;
					display: inline-block;
					width: 9px;
					height: 9px;
					border-radius: 50%;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.border-left{
			border-left: none !important;
			position: relative;
			padding: 0px 18px;
			color: inherit;
			letter-spacing: 0.02em;
    		line-height: 30px;
			&::before{
				content: "";
				position: absolute;
				height: calc(100% - 14px);
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 3px;
			}
		}
	}
	h1.title{
		font-size: 48px;
		color: inherit;
		font-weight: 600;
		margin-bottom: 2px;
		text-transform: capitalize;
	}
}
.post-meta {
	font-size: 14px;
	li{
		position: relative;
		margin-right: 19px;
		+ li{
			&::before{
				content: "/";
				position: absolute;
				left: -15px;
				top: 0;
			}
		}
	}
}
#comments{
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
	.panels{
		> h3{
			font-size: 30px;
			font-weight: 600;
			margin-bottom: 29px;
		}
	}
}
.commentForm{
	margin-top: 73px;
	> h3{
		font-size: 30px;
    	font-weight: 600;
		margin-bottom: 29px;
	}
	.form-group{
		margin-bottom: 20px;
	}
	.form-control{
		height: 50px;
		letter-spacing: 0.03em;
		font-size: 14px;
	}
	textarea.form-control{
		height: 118px;
	}
	#new_comment_form_footer {
		margin-top: 30px;
	}
}
#post-comments{
	.post-comment{
		margin-bottom: 24px;
	}
	.post-comment-info{
		display: flex;
	}
	.user-image {
		background: #E1E1E1;
		border-radius: 10px;
		display: inline-flex;
		margin-right: 24px;
		width: 90px;
		height: 90px;
		justify-content: center;
		align-items: center;
	}
	.post-info{
		.title{
			font-size: 20px;
    		font-weight: 500;
			margin-bottom: 7px;
			margin-top: -2px;
			.time-add {
				color: rgba(90, 72, 43, 0.7);
				font-size: 15px;
				font-weight: 400;
				margin-left: 18px;
			}
		}
	}
}
.cat-post-list{
	.blog-post .post-thumb {
		margin-bottom: 15px;
	}
	.post-title{
		font-size: 30px;
    	font-weight: 500;
		text-transform: capitalize;
		margin-bottom: 10px;
	}
	.post-meta{
		margin-bottom: 6px;
	}
	.post-intro{
		line-height: 26px;
		margin-bottom: 25px;
	}
}

/* Blog widget */
#module-gdz_blog-post,
#module-gdz_blog-category,
#module-gdz_blog-categories,
#module-gdz_blog-tag,
#module-gdz_blog-archive{
	#left-column, #right-column{
		> *{
			display: none;
		}
		.blog-widget, #customhtml{
			display: block;
		}
	}
	#content-wrapper{
		&.col-right{
			> #main{
				padding-left: 110px;
			}
		}
		&.col-left{
			> #main{
				padding-right: 110px;
			}
		}
	}
}
.blog-widget{
	.item-post{
		margin-bottom: 15px;
	}
	.post-title{
		font-weight: 500;
    	display: block;
		line-height: 26px;
	}
	.post-created{
		font-size: 14px;
    	color: rgba(63, 40, 3, 0.55);
		line-height: 1;
	}
	li a{
		color: rgba(63, 40, 3, 0.55);
	}
}
.widget-recent{
	.intro-text, .post-category{
		display: none;
	}
	.item-post{
		border-bottom: 1px solid #f2f2f2;
    	padding-bottom: 16px;
		&:last-child{
			border-bottom: none;
		}
	}
	.post-meta{
		margin-bottom: 2px;
	}
	.post-title{
		font-size: 20px;
	}
}
.widget-comment{
	.comment-item{
		margin-bottom: 20px;
	}
	h6{
		color: inherit;
	}
}
.widget-newsletter{
	.block_newsletter{
		.content{
			display: flex;
			.input-wrapper{
				width: 100%;
				input{
					background-color: #f2f2f2;
    				border: none;
					height: 42px;
					font-size: 15px;
				}
			}
			button{
				height: 42px;
				border: none;
				position: absolute;
				right: 0;
				background: transparent;
			}
		}
	}
	.desc{
		font-size: 13px;
		line-height: 25px;
		margin-top: 16px;
	}
}

/* Wishlist */
.wishlist-container {
    border-radius: 10px;
}
.wlp_bought_list .wishlist-box{
	border-radius: 10px;
}
.fancybox-error{
	white-space: normal;
}


/* others */
.currency-info, .languages-info{
	> a svg{
		display: none;
	}
}
.psgdprgetdatabtn17{
	float: none;
}
#exportDataToCsv {
	margin-left: 0;
	margin-right: 0;
}
.form-control-submit{
	white-space: nowrap;
}

/* footer */
.page-index{
	#footer{
		margin-top: 0;
	}
}
#footer{
	margin-top: 100px;
}
.footer{
	font-size: 19px;
	background-color: #fff;
	.site-logo-text{
		font-size: 36px;
	}
	#footer-main{
		padding-top: 93px;
		padding-bottom: 54px;
		.contact{
			margin-top: 26px;
			margin-bottom: 23px;
			li{
				line-height: 44px;
			}
		}
		.block-content{
			li{
				line-height: 39px;
				a{
					font-size: 19px;
				}
			}
		}
		.block .block-title{
			font-size: 24px;
			color: #222;
			margin-top: 11px;
			margin-bottom: 24px;
		}
		.col-newsletter{
			.desc{
				line-height: 32px;
				padding-top: 5px;
				padding-right: 30px;
				margin-bottom: 14px;
				letter-spacing: 0;
			}
		}
		.social-links{
			li{
				margin-right: 20px;
				margin-bottom: 10px;
				a:hover path{
					stroke: $active;
				}
			}
		}
	}
	.block_newsletter{
		.content{
			input{
				border: none;
				padding: 0 15px;
				background-color: #eee;
			}
		}
	}
	.grid-instagram{
		display: grid;
		grid-column-gap: 12px;
		grid-row-gap: 12px;
		grid-template-columns: auto auto auto;
		margin-top: 36px;
		.item{
			border-radius: 10px;
			overflow: hidden;
			&:hover img{
				transform: scale(1.1);
			}
			img{
				transition: .6s all;
			}
		}
	}
}
#footer-copyright{
	padding: 0;
	.container{
		position: relative;
		padding-top: 29px;
		padding-bottom: 30px;
		&::before{
			content: "";
			width: calc(100% - 30px);
			left: 15px;
			position: absolute;
			top: 0;
			height: 1px;
			background-color: #e7e7e7;
		}
	}
	p{
		font-size: 19px;
		text-transform: initial;
		color: #222;
		text-align: center;
		font-family: 'SF Pro Display Medium';
	}
}
.footer-1{
	
}
.footer-2{
	background-color: #f5f5f5;
}
.footer-4{
	
}
.footer-5{
	
}


/* Animate spinner */
@-webkit-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg); }
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg); } 
}
  
@-moz-keyframes spinner {
	0% {
	  transform: rotate(0deg); }
	100% {
	  transform: rotate(360deg); }
}
  
@keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg); }
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg); } 
}

@keyframes opacity {
	0% {
	  opacity: 0; }
	100% {
	  opacity: 1; } 
}


@media (max-width: 1500px){
	.header-5 #header-top .header-right .btn-group {
		margin-left: 6px;
	}
	.header-3{
		.header-bottom #ver-menu .vermenu-btn{
			width: auto;
		}
		.gdz-megamenu li {
			padding: 0px 15px;
		}
	}
	.gdz-megamenu .nav > li.sub-category{
		.dropdown-menu{
			width: 1100px !important;
		}
		.mod-content img{
			padding-right: 30px;
		}
	}
}
@media (max-width: 1366px){
	.productbox-4:hover .block-addtocart .product-buttons .cart-button span {
		margin-right: 10px;
	}
	.gdz-slide-content .btn {
		font-size: 15px;
		height: 45px;
		line-height: 41px;
		padding: 0 30px;
	}
	.popup-newsletter .gdz-popup-content h2{
		font-size: 35px;
	}
	.block_newsletter .content button,
	.block_newsletter .content input{
		font-size: 15px;
		height: 40px;
	}
	.popup-newsletter .gdz-popup-content .desc{
		font-size: 15px;
	}
	.header-7 .gdz-megamenu li {
		padding: 0px 10px;
	}
	.gdz-megamenu .nav > .menu-item .mega-nav li.group > a{
		font-size: 18px;
	}
	.breadcrumb-wrapper .breadcrumb {
		padding: 160px 0 30px;
	}
	.breadcrumb-wrapper .breadcrumb h3 {
		font-size: 30px;
	}
	.breadcrumb-wrapper .breadcrumb li{
		font-size: 15px;
		a{
			font-size: 15px;
		}
	}
	#blockcart-modal .btn-active,
	#blockcart-modal .btn-default{
		font-size: 15px;
	}
	.widget-recent .post-title {
		font-size: 16px;
	}
	.cat-post-list .post-title{
		font-size: 22px;
	}
	.blog-post h1.title{
		font-size: 30px;
	}
	.commentForm > h3{
		font-size: 22px;
	}
	.same-category h2 {
		font-size: 30px;
	}
}
@media (max-width: 1365px){
	#header-top .container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
	.gdz-megamenu li {
		padding: 0px 17px;
	}
}
@media (max-width: 1280px){
	.header-2 .hotline{
		display: none;
	}
}
@media (max-width: 1199px){
	#desktop-header{
		display: none;
	}
	#mobile-header {
		display: block;
		.logo{
			max-width: 200px;
		}
		.btn-group{
			svg{
				width: 24px;
				height: 24px;
			}
			.dropdown-menu{
				top: 100%;
				right: 15px;
    			margin-top: 0;
				max-width: calc(100% - 30px);
    			min-width: auto;
				&::before{
					display: none;
				}
				ul li a{
					font-size: 15px;
				}
			}
		}
	}
	.mobile-menu-wrap{
		background-color: #fff;
		box-shadow: 0 0 11px rgb(0 0 0 / 10%);
		.close-button{
			display: flex;
    		justify-content: space-between;
			h3{
				font-size: 16px;
				color: inherit;
				padding-top: 2px;
			}
		}
	}
	.breadcrumb-wrapper .breadcrumb{
		padding-top: 40px;
	}
	.product-link{
		font-size: 16px;
	}
	.product-miniature .category-name a {
		font-size: 14px;
	}
	.product-miniature .price.new {
		font-size: 15px;
	}
	#cart_block .label,
	#cart_block .cart-prices-line .value,
	#cart_block .cart-button .btn{
		font-size: 15px;
	}
	#cart_block .remove-from-cart svg{
		width: 18px;
		height: 18px;
	}
	.productbox-1 .product-buttons .addToWishlist,
	.productbox-1 .product-buttons .quick-view {
		opacity: 1;
		visibility: visible;
	}
	.productbox-2 .product-buttons .ajax-add-to-cart {
		padding: 0 10px;
	}
	.productbox-3 .product-thumbnail .product-buttons{
		opacity: 1;
		visibility: visible;
	}
	.gdz-slider-wrapper .nav-control > a.prev svg {
		left: 0;
		width: 20px;
		height: 20px;
	}
	.gdz-slider-wrapper .nav-control > a.next svg {
		width: 20px;
		height: 20px;
		right: 0;
	}
	.pb-testimonial .pb-testimonial-comment{
		font-size: 15px;
		max-width: 100%;
		padding: 0;
	}
	.pb-testimonial .pb-testimonial-author {
		font-size: 18px;
	}
	.pb-testimonial .text-left .pb-testimonial-box .pb-testimonial-comment {
		font-size: 15px;
		max-width: 100%;
		padding-right: 15px;
	}
	.pb-testimonial.with-thumbnails .pb-testimonial-box .pb-testimonial-comment {
		font-size: 15px;
	}
	.title h3{
		font-size: 30px;
	}
	.addon-tab .nav-tabs .nav-link {
		font-size: 15px;
	}
	.addon-tab .nav-tabs .nav-link{
		padding-left: 20px;
		padding-right: 20px;
	}
	.category-tab-right .title{
		flex-direction: column;
    	align-items: center;
	}
	.pb-blog .post-title{
		font-size: 18px;
	}
	.footer-1 #footer-copyright p{
		font-size: 15px;
	}
	.footer-1 #footer-main{
		padding-bottom: 0;
	}
	.footer-4 .block-socials{
		flex-direction: column;
    	align-items: baseline;
	}
}
@media (max-width: 991px){
	.title h3 {
		font-size: 22px;
	}
	.blog-post h1.title {
		font-size: 22px;
	}
	#module-gdz_blog-post #content-wrapper.col-right > #main, #module-gdz_blog-category #content-wrapper.col-right > #main, #module-gdz_blog-categories #content-wrapper.col-right > #main, #module-gdz_blog-tag #content-wrapper.col-right > #main, #module-gdz_blog-archive #content-wrapper.col-right > #main {
		padding-left: 0;
	  }
	.same-category h2{
        font-size: 30px;
    }
	#left-column + #content-wrapper,
	#content-wrapper + #right-column{
		margin-top: 40px;
	}
	.breadcrumb-wrapper .breadcrumb h3{
		font-size: 36px;
	}
    .gdz-slide-content{
        .btn{
            font-size: 16px;
            height: 40px;
            line-height: 38px;
            padding: 0 20px;
        }
    }
	.service-box-darkbg{
		.layout-column{
			margin-bottom: 30px;
		}
	}
	.service-box-darkbg .pb-service-box .pb-service-title {
		font-size: 18px;
	}
	.service-box-darkbg .pb-service-box .pb-service-description p {
		font-size: 15px;
	}
}
@media (max-width: 767px){
	.quickview-modal .product-name,
	.quickview-modal .content_price .price{
		font-size: 22px;
	}
	.popup-newsletter .gdz-popup-content{
		max-width: 80%;
	}
	.same-category h2 {
		font-size: 22px;
	}
	.same-category .owl-carousel .owl-nav {
		bottom: calc(100% + 28px);
	}
	.same-category .owl-carousel .owl-nav button svg {
		width: 25px;
		height: 25px;
	}
	.same-category .owl-carousel .owl-nav button{
		height: 35px;
		width: 35px;
	}
	.breadcrumb{
		margin-bottom: 50px;
	}
	.breadcrumb-wrapper .breadcrumb{
		padding: 30px 0;
	}
	.breadcrumb-wrapper .breadcrumb h3{
		font-size: 26px;
	}
	.breadcrumb-wrapper .breadcrumb li,
	.breadcrumb-wrapper .breadcrumb li a{
		font-size: 15px;
	}
	div.fs-pager-wrapper{
		display: none;
	}
    div.gdz-slide-content{
        .btn{
            font-size: 2.5vw;
            height: 5.5vw;
            line-height: 5vw;
            padding: 0 2.5vw;
        }
    }
	#mobile-header .logo {
		max-width: 170px;
	}
	.dropdown-menu.shoppingcart-box {
		max-width: calc(100% - 30px);
	}
	.pb-banner .pb-banner-button{
		font-size: 15px;
	}
	.category-tab-right .nav.nav-tabs{
		width: 100%;
	}
	.tab-content > .tab-pane{
		display: none;
		&.active{
			display: block;
		}
	}
	.addon-tab .nav-tabs{
		&.tab-right, &.tab-center, &.tab-left{
			.nav-item{
				margin: 0;
				width: 100%;
				text-align: center;
				display: block;
				margin-bottom: 15px;
			}
		}
	}
	.pb-testimonial.with-thumbnails .pb-testimonial-carousel .owl-nav {
		max-width: 100%;
	}
	.pb-testimonial.with-thumbnails .testimonial-thumbnail-carousel {
		max-width: 100%;
		margin-left: 0;
	}
	.block_newsletter .content button {
		font-size: 15px;
	}
	.pb-blog .post-title{
		font-size: 18px;
	}
	#footer {
		margin-top: 50px;
	}
	.footer-1 #footer-main .block .block-title{
		font-size: 16px;
	}
	.footer-1 #footer-main .contact .phone-number,
	.footer-1 #footer-main .contact ~ p{
		font-size: 15px;
	}
	.footer-2 #footer-main .block .block-title, .footer-3 #footer-main .block .block-title {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.footer-2 #footer-main, .footer-3 #footer-main {
		padding: 30px 0 0;
	}
	.footer-4{
		.block-socials{
			margin-right: 0;
		}
		.contact{
			margin-bottom: 30px;
		}
	}
	.footer-5 #footer-main {
		padding: 50px 0 30px;
	}
	.footer-5 #footer-main .block .block-title {
		font-size: 16px;
		margin-bottom: 0;
	}
}
@media (max-width: 575px){
	.blog-post h1.title {
		font-size: 18px;
	}
	.cat-post-list .post-title,
	.blog-widget .widget-title{
		font-size: 18px;
	}
	.btn-xl {
		font-size: 15px !important;
		padding: 25px 50px;
	}
	.close svg{
		width: 20px;
		height: 20px;
	}
	.popup-newsletter .block_newsletter{
		margin-top: 20px;
	}
	.popup-newsletter .gdz-popup-content{
		max-width: 100%;
		padding-top: 0;
	}
	.popup-newsletter .gdz-popup-content h2 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.popup-newsletter #social-links {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.dontshow{
		margin-top: 0;
	}
	.dontshow input{
		width: 15px;
	}
	.dontshow input, .dontshow > div{
		margin-right: 4px;
	}
	.gdz-popup-overlay .popup-close svg{
		width: 20px;
		height: 20px;
	}
	#blockcart-modal .modal-body{
		padding: 15px;
	}
	#blockcart-modal .modal-title {
		font-size: 18px;
		margin-bottom: 15px;
	}
	#blockcart-modal .group-btn .btn + .btn {
		padding: 0 20px;
	}
	#blockcart-modal .cart-products-count {
		margin-top: 15px;
		padding-top: 10px;
		margin-bottom: 10px;
	}
	#blockcart-modal .group-btn{
		margin-top: 20px;
	}
	#blockcart-modal .modal-dialog .close svg{
		width: 20px;
		height: 20px;
	}
	#mobile-header .logo{
		width: 100%;
	}
	.quickview-modal{
		.col-left{
			margin-bottom: 30px;
		}
	}
	
}
@media (max-width: 480px){
	.footer-1 #footer-main .layout-column:nth-child(3) h3, 
	.footer-1 #footer-main .layout-column:nth-child(5) h3 {
	  	opacity: 1;
	}
	.footer-1 #footer-main .block .block-title{
		margin-top: 0;
		padding-bottom: 0;
	}
}