#login-wrapper input {
  border-radius: 5px;
}

.show-pass button {
  border: none;
  position: absolute;
  right: 0;
  font-size: 14px;
  min-width: auto;
}

.authentication-links {
  margin-top: 25px;
}

.register-form form {
  margin-top: 30px;
}
.register-form form .form-group {
  -webkit-box-align: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important;
}

#password .page-content {
  max-width: 60%;
  margin: auto;
}

#my-account .links .link-item {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  border-radius: 10px;
}
#my-account .links .link-item i {
  margin-right: 0;
  margin-bottom: 10px;
  font-size: 25px;
}

#mywishlist #block-order-detail {
  margin-bottom: 30px;
}
#mywishlist .wlp_bought_list li {
  width: 25%;
}
#mywishlist .product_image img {
  width: 100%;
}