.gdz-megamenu.navbar {
  padding:0px;
  width:100%;
}
.gdz-megamenu .row {
  padding:0px;
}
.gdz-megamenu li {
  padding:0px 20px;
  margin: 0px;
}
.gdz-megamenu a {
  text-decoration:none;
  line-height: 1.6;
}
.gdz-megamenu .nav > li {
    display: inline-block;
    float: inherit;
    vertical-align: top;
    position:relative;
}
.gdz-megamenu .nav > li > a {
    padding: 0px;
    line-height: 86px;
}
.gdz-megamenu .nav > li:hover,
.gdz-megamenu .nav > li.open {
    background: none;
}

.gdz-megamenu .dropdown-menu {
    background: #fff;
    border-radius: 0;
    display: block;
    left: 0;
    margin-top: 0;
    min-width: 220px;
    opacity: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    z-index: 9999;
    transition: all 200ms ease 0s;
    -webkit-transition: all 200ms ease 0s;
}

.gdz-megamenu .open > .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.gdz-megamenu .mega-nav,
.gdz-megamenu .dropdown-menu .mega-nav {
    list-style: outside none none;
    margin: 0;
    padding:0px;
    min-height: 20px;
}
.gdz-megamenu .caret {
    margin-left: 5px;
    display: none;
}
.gdz-megamenu .mega-col-nav {
    padding: 0;
}
.gdz-megamenu .mega-nav > .mega > .dropdown-menu {
    left: 100%;
    margin: 0;
    top: -18px;
    width: 100%;
}
.mega-nav > .mega {
    position: relative;
}
.mega-dropdown-menu .mega-nav > .mega > a::after{
  font-family: "icomoon" !important;
  content: "\e9b5";
  font-size: 18px;
  position: absolute;
  top:50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.gdz-megamenu .menu-align-justify > .dropdown-menu {
    left: 0;
    margin-left: 0;
}
.gdz-megamenu .menu-align-center > .dropdown-menu {
    left: 50%;
    margin: auto;
    transform: translateX(-50%);
    padding: 30px 0 22px;
}
.gdz-megamenu .mega-nav > .mega.menu-align-left > .dropdown-menu {
    left: 100%;
}
.gdz-megamenu .mega-nav > .mega.menu-align-right > .dropdown-menu {
    left: auto;
    right: 100%;
}
.gdz-megamenu .menu-align-justify {
    position: static;
}
.gdz-megamenu .menu-align-justify > .dropdown-menu {
    left: 0;
    margin-left: 0;
}
.gdz-megamenu .dropdown-menu {
    background: #fff;
    padding: 20px 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.gdz-megamenu .dropdown-menu > .mega-dropdown-inner > .row {
    margin: 0;
}
.gdz-megamenu .item-fullwidth .dropdown-menu > .mega-dropdown-inner > .row {
    margin: 0;
}
.gdz-megamenu .nav > .menu-item .mega-nav li {
    position: relative;
}
.gdz-megamenu .nav > .menu-item .mega-nav li > a {
    border-bottom: medium none;
    color: #555;
    display: block;
    position: relative;
}
.gdz-megamenu .nav > .menu-item .mega-nav li.group > a {
    font-size: 22px;
    font-weight: 500;
}
.menu-item .mod-content img {
    max-width: 100%;
}
#off-canvas-menu {
  margin-top: 0px;
}
#off-canvas-menu .nav > li > a {
    text-transform: initial;
    font-size: 14px;
}
#off-canvas-menu .open > .dropdown-menu{
    padding: 10px 0;
}
#off-canvas-menu .dropdown-menu{
    padding: 10px 0;
    transition: none;
}
#off-canvas-menu .nav > li.mega > a::before {
    content: "\f107";
    font-family: 'Fontawesome';
    position: absolute;
    right: 25px;
    display: block;
    font-size: 20px;
}
#off-canvas-menu .nav > li.mega.open > a::before {
    content: "\f106";
}
